<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>

  <meta property="og:title" content="{{ .Page.Title }} | {{ .Site.Title }}" />
  <meta name="twitter:title" content="{{ .Page.Title }} | {{ .Site.Title }}" />
  <meta itemprop="name" content="{{ .Page.Title }} | {{ .Site.Title }}" />
  <meta name="application-name" content="{{ .Page.Title }} | {{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />


  <meta charset="UTF-8">
  <meta name="language" content="en">
  <meta name="description" content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}">
  <meta itemprop="description" content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta name="twitter:description" content="{{ .Site.Params.description }}" />

  <base href="{{ .Site.Params.baseURL }}">
  <link rel="canonical" href="{{ .Site.Params.baseURL }}" itemprop="url" />
  <meta name="url" content="{{ .Site.Params.baseURL }}" />
  <meta name="twitter:url" content="{{ .Site.Params.baseURL }}" />
  <meta property="og:url" content="{{ .Site.Params.baseURL }}" />

  <meta name="keywords" content="{{ delimit .Keywords " , " }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="8cyiY374WL2LGr87fBghcdJCRx6BaPNBvLjeZlk6tyc" />

  <!-- Twitter -->
  {{ if isset .Site.Params "twitter" }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Description }}{{ end }}"
  />
  <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
  {{ end }}

  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
  {{ block "stylesheets" . }} {{ end }}
  {{ range .AlternativeOutputFormats }}
  {{ end }}
  {{ block "links" . }} {{ end }}
  {{ partial "seo-schema.html" .}}
</head>

<body>
  {{ partial "burger.html" .}}

  {{ partial "nav.html" .}}

  <main>
    {{ block "main" . }} {{ end }}
  </main>

  {{ block "footer" . }} {{ end }}

  <script src="/js/index.js"></script>
  {{ block "scripts" . }} {{ end }}
</body>

</html>
