{{ define "stylesheets" }}
<link rel="stylesheet" href="/css/update.css" /> 
{{ end }}


{{ define "main" }}
<div class="main">
<div class="post">
  <header class="post__header">
    <h1 class="post__title">{{.Title}}</h1>
  </header>
  <article class="post__content">
    {{ partial "anchored-headings.html" .Content }}
    {{ if or .Params.math .Site.Params.math }}
      {{ partial "math.html" . }}
    {{ end }}
  </article>
  <br>
  <div class="newsletter__subscribe-form">
    <form
        name="newsletter"
        method="POST"
        data-netlify="true" class="newsletter__subscribe-form-inputs">
                <input name="form-name" value="contact" type="hidden" />
                <label for="email"></label><input required name="email" type="email" placeholder="email@yours.com" class="newsletter__subscribe-form-inputs--email"/>
                <button type="submit" name="submit" class="newsletter__subscribe-form-inputs--submit">Sign Me Up!</button>
        </form>
    </div>
</div>
</div>
{{ end }} {{ define "footer" }}
<footer>
  {{ partial "social-icons.html" .}}
  <p>{{ replace .Site.Copyright "{year}" now.Year }}</p>
</footer>
{{ end }} {{ define "scripts" }}
<script src="/vendor/prism/prism.js"></script>
{{ end }}
