{{ define "stylesheets" }}
<link rel="stylesheet" href="/css/update.css" /> 
{{ end }}


{{ define "main" }}
<div class="main">
<div class="post">
  <header class="post__header">
    <h1 class="post__title">{{.Title}}</h1>
  </header>
  <article class="post__content">
    {{ partial "anchored-headings.html" .Content }}
    {{ if or .Params.math .Site.Params.math }}
      {{ partial "math.html" . }}
    {{ end }}
  </article>
  <br>
  <div class="newsletter__subscribe-form">
    <form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Your Email: <input type="email" name="email" placeholder="Email" /></label>
    </p>
    <p>
      <label>Message: <textarea name="message" placeholder="Message"></textarea></label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
    </div>
</div>
</div>
{{ end }} {{ define "footer" }}
<footer>
  {{ partial "social-icons.html" .}}
  <p>{{ replace .Site.Copyright "{year}" now.Year }}</p>
</footer>
{{ end }} {{ define "scripts" }}
<script src="/vendor/prism/prism.js"></script>
{{ end }}
