{{ define "stylesheets" }}
<link rel="stylesheet" href="/css/post.css" /> 
{{ end }}


{{ define "main" }}
<div class="post">
  <header class="post__header">
    <h1 class="post__title">{{.Title}}</h1>
   
  </header>
  <article class="post__content">

    <div class="post__details__wrapper">
    <div class="post__details">
      <!-- <time datetime="{{ .Date }}" class="post__date">
        {{ .Date.Format "Jan 2 2006" }}
      </time> -->
      <span class="divider">|</span>
      <div class="post__location">
        {{.Params.Location}}
      </div>
      <span class="divider">|</span>
      <!-- <div class="post__length">
        {{ math.Round (div (countwords .Content) 100.0) }} minutes
      </div> -->
    </div>
  </div>
    {{ partial "anchored-headings.html" .Content }}
    {{ if or .Params.math .Site.Params.math }}
      {{ partial "math.html" . }}
    {{ end }}
    
  </article>
  {{ partial "tags.html" .}} 
  {{ partial "post-pagination.html" .}}
</div>
{{ end }} {{ define "footer" }}
<footer>
  {{ partial "social-icons.html" .}}
  <p>{{ replace .Site.Copyright "{year}" now.Year }}</p>
</footer>
{{ end }} {{ define "scripts" }}
<script src="/vendor/prism/prism.js"></script>
{{ end }}
